
<!-- Page that is used for all admin-specific operations -->

<!DOCTYPE html>
<html lang="en" ng-app="myBigApp" ng-controller="handleEvents">

<head>
    <title>Admin Dashboard</title>
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../app/lib/angular.min.js"></script>
    <script src="../app/app.js"></script>
</head>

<body>
    <div ng-if=""></div>
    <header ng-include="headerString"></header>

    <div style="margin: 40px;">
        <ul class="list-group">
            <li class="list-group-item">
                <h5>Create New User</h5>
                <div class="container justify-content-center mx-auto" style="max-width: 600px;">
                    <div class="d-flex flex-column gap-3">
                        <input id="userName" type="text" placeholder="Name" class="form-control mx-auto" style="max-width: 500px;" />
                        <input id="userUsername" type="text" placeholder="Username" class="form-control mx-auto" style="max-width: 500px;" />
                        <input id="userEmail" type="text" placeholder="Email" class="form-control mx-auto" style="max-width: 500px;" />
                        <input id="userPass" type="text" placeholder="Password" class="form-control mx-auto" style="max-width: 500px;" />
                        <select id="userRole" class="form-select" aria-label="User Role Selection">
                            <option disabled selected>User Role</option>
                            <option value="student">Student</option>
                            <option value="tutor">Tutor</option>
                        </select>
                    </div>

                    <button class="btn btn-secondary btn-md d-block mx-auto mt-3" ng-click="addUser()">Submit</button>
                </div>
            </li>
            <li class="list-group-item">
                <h5>Users (Students & Tutors)</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Role</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users">
                            <td>{{user.role}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <input type="checkbox" ng-model="user.active">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
