
<!-- Page that is used to allow users to sign in with an already created account -->

<!DOCTYPE html>
<html lang="en" ng-app="myBigApp" ng-controller="loginFunctions">

<head>
    <title>Learning Center Login</title>
    <link href="../assets/css/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="../app/lib/angular.min.js"></script>
    <script src="../app/app.js"></script>
</head>

<body class="text-center">
    <!-- Header -->
    <header ng-include="headerString"></header>


    <div class="d-flex justify-content-center align-items-center">
        <div class="main-container" style="min-width: 500px; border: 2px solid gray; border-radius: 8px; padding: 40px;">
            <form ng-submit="loginUser()" novalidate>

                <h4>Login</h4><br>

                <div class="mb-3">
                    <label>Email:</label>
                    <input type="email" class="form-control" ng-model="loginData.email" required>
                </div>

                <div class="mb-3">
                    <label>Password:</label>
                    <input type="password" class="form-control" ng-model="loginData.password" required>
                </div>

                <button type="submit" class="btn btn-secondary w-100">
                    Sign In
                </button>
            </form>
        </div>
    </div>

</body>
</html>