<div class="bg-body-tertiary">

    <div class="container">
        <div class="py-4 text-center">

            <nav class="bg-body-tertiary">
                <div class="container d-flex flex-wrap"> 
                <ul class="nav me-auto"> 
                    <li class=nav-item>
                        <a href="homePage.html" class="nav-link link-body-emphasis px-2">Home</a>
                    </li>
                    <li class=nav-item>
                        <a href="hours.html" class="nav-link link-body-emphasis px-2">Make An Appointment</a>
                    </li>
                    <li class=nav-item>
                        <a href="adminDash.html" class="nav-link link-body-emphasis px-2">Admin Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="db_test.html" class="nav-link link-body-emphasis px-2">Database I/O Testing</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class = "nav-item">
                        <li class="nav-item" ng-if="!isLoggedIn">
                            <a href="login.html" class="nav-link link-body-emphasis px-2">Login</a>
                        </li>
                        <li class="nav-item" ng-if="isLoggedIn">
                            <a href="#" class="nav-link link-body-emphasis px-2" ng-click="logout()">Logout</a>
                        </li>
                    </li>
                </ul>
                </div>
            </nav>
            <br>
            <div class="py-3 border-bottom">
                <div class="container">
                    <a href="homePage.html"
                       class="d-flex align-items-center link-body-emphasis text-decoration-none">
                        <span class="fs-4">IT Learning Center</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>